extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote In imperdiet mi vel mi lacinia iaculis. Cras congue leo ac sollicitudin eleifend. Nullam efficitur ac diam id iaculis. Fusce non lacinia lacus. Vivamus ullamcorper id lectus ut gravida. Proin scelerisque sagittis lorem, ut ultricies libero. Praesent quis lectus condimentum, porttitor metus ac, auctor arcu. Ut tempor consequat cursus. Aliquam ut iaculis lacus. Aenean urna odio, dapibus eu rhoncus at, pretium id mi. Integer quis lectus at dui dapibus lobortis vitae eu urna.
                p Aliquam erat volutpat. Proin pulvinar risus suscipit est molestie facilisis. Nunc et varius dolor, imperdiet porttitor risus. Nullam nibh ante, elementum quis ipsum a, elementum egestas arcu. Sed consectetur malesuada luctus.
                p Mauris lectus felis, aliquam at lectus at, eleifend tempus tellus. Fusce id imperdiet massa.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4                
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Donec eget auctor odio. Nam at ornare ligula, et rutrum lacus. In in pellentesque nibh.
                .col-md-4                
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Donec eget auctor odio. Nam at ornare ligula, et rutrum lacus. In in pellentesque nibh.
                .col-md-4                
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Donec eget auctor odio. Nam at ornare ligula, et rutrum lacus. In in pellentesque nibh.